{
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "rules": {
    "indent": "error",
    "no-unexpected-multiline": "error",
    "react/function-component-definition": [2, { "namedcomponents": "arrow-function" }],
    "no-alert": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
