@import '../common/variables';

.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: $color-white;
  font-size: $font-h1;
  font-weight: 700;
  margin-bottom: 32px;
}
